<div class="container background-color p-5 mb-5">
  <div class="row">
    <div class="col-5 p-5">

      <div class="row">
        <h3 class="pb-3"><%= @end_user.nick_name %>さんの情報</h3>
      </div>

      <div class="form-group row">
        <div class="col-1"><%=image_tag @end_user.get_profile_image(100,100) %></div>
      </div>

      <div class="form-group row">
        <div>ニックネーム</div>
        <div class="col-5"><%= @end_user.nick_name %></div>
      </div>

      <div class="form-group row">
        <div>メールアドレス</div>
        <div class="col-5"><%= @end_user.email %></div>
      </div>
      <div class="form-group row">
        <div>性別</div>
        <div class="col-5"><%= @end_user.gender_i18n %></div>
      </div>

      <div class="form-group row">
        <div>年齢</div>
        <div class="col-5"><%= @end_user.calc_age %></div>
      </div>

      <div class="form-group row">
        <div>職業</div>
        <div class="col-5"><%= @end_user.occupation %></div>
      </div>

      <div class="form-group row">
        <div>ユーザーステータス</div>
        <% if @end_user.is_deleted == false %>
          <div class="col-2 text-success">有効</div>
        <% else %>
          <div class="col-2 text-secondary">退会</div>
        <% end %>
      </div>

      <div class="form-group row">
        <div>フォロー</div>
        <div class="col-5"><%= link_to @end_user.followings.count, end_user_followings_path(@end_user) %></div>
      </div>

      <div class="form-group row">
        <div>フォロワー</div>
        <div class="col-5"><%= link_to @end_user.followers.count, end_user_followers_path(@end_user) %></div>
      </div>

      <div class="form-group row">
        <%= render 'public/end_users/relationship', end_user: @end_user %>
        <% if @end_user == current_end_user %>
          <div>
            <%= link_to "編集する", edit_end_user_path(@end_user), class: "btn btn-outline-success btn-block text-dark"%>
          </div>
        <% end %>
        <div><%= link_to 'トップへ戻る', root_path, class: "btn btn-outline-secondary btn-block text-dark" %></div>
      </div>
    </div>

    <div class="col-7 p-5">
      <h3 class="pb-3">レビュー投稿数</h3>
      <table class="table">
       <thead>
        <tr>
         <th>６日前</th>
         <th>5日前</th>
         <th>4日前</th>
         <th>3日前</th>
         <th>２日前</th>
         <th>昨日</th>
         <th>今日</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <th><%= @reviews.created_6days.count %></th>
         <th><%= @reviews.created_5days.count %></th>
         <th><%= @reviews.created_4days.count %></th>
         <th><%= @reviews.created_3days.count %></th>
         <th><%= @reviews.created_2days.count %></th>
         <th><%= @yesterday_review.count %></th>
         <th><%= @today_review.count %></th>
        </tr>
       </tbody>
      </table>


      <canvas id="myChart"></canvas>
      <script
      　src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
      　integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
      　crossorigin="anonymous"
      　referrerpolicy="no-referrer">
      </script>
      <script>
        $(document).on('turbolinks:load', function() {
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
              datasets: [
                {
                  label: '投稿したレビューの数',
                  data: [<%= @reviews.created_6days.count %>,
                         <%= @reviews.created_5days.count %>,
                         <%= @reviews.created_4days.count %>,
                         <%= @reviews.created_3days.count %>,
                         <%= @reviews.created_2days.count %>,
                         <%= @yesterday_review.count %>,
                         <%= @today_review.count%>],
                  borderColor: "rgba(0,0,255,1)",
                  backgroundColor: "rgba(0,0,0,0)"
                }
              ],
            },
            options: {
              title: {
                display: true,
                text: '7日間の投稿数の比較'
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMax: 10,
                    suggestedMin: 0,
                    stepSize: 1,
                    callback: function(value, index, values){
                      return  value
                    }
                  }
                }]
              },
            }
          });
        });
        $(function(){
           history.pushState(null, null);
           $(window).on("popstate", function (event) {
             location.href = "";
           })
         });
      </script>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class="table-active">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Sales Date</th>
            <th>Publiser</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @end_user.reviews.each do |review| %>
            <tr>
              <td>
                <%= link_to (image_tag(review.book.small_image_url)), review.book.item_url %>
              </td>
              <td>「<%= review.book.title %>」（ジャンル:<%= review.genre.name %>）</td>
              <td><%= review.book.author %></td>
              <td><%= review.book.sales_date %>発売</td>
              <td><%= review.book.publisher_name %></td>
              <td>¥<%= review.book.item_price.to_s(:delimited, delimiter: ',') %></td>
              <td><%= link_to '詳細', review_path(review), class: "btn btn-outline-primary nav-link text-dark btn-block" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>