<div class="container background-color p-5 mb-5">
  <div class="row">
    <h3 class="p-3 mx-auto">
      <span class="header">お問い合わせフォーム</span>
    </h3>
  </div>
  <h5 class="error_explanation">
    <%= render 'layouts/errors', obj: @contact %>
  </h5>
  <%= form_with(model: @contact, local: true) do |f| %>
    <form>
      <div class="form-group row">
        <%= f.label :ニックネーム, class:"col-sm-3 col-form-label" %>
          <div class="col-md-5">
           <%= f.text_field :nick_name, autofocus: true, placeholder:"タロウ", class:"form-control" %>
          </div>
      </div>
      <div class="form-group row">
        <%= f.label :メールアドレス, class:"col-sm-3 col-form-label" %>
        <div class="col-md-5">
         <%= f.email_field :email, autocomplete: "email", placeholder:"sample@example.com", class:"form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :お問い合わせ内容, class:"col-sm-3 col-form-label" %>
        <div class="col-md-5">
         <%= f.text_area :content, placeholder: "お問合せ内容を入力してください。", class:"form-control", size: "100x5" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-md-3 mt-3">
          <%= f.submit "内容を送信", class: "btn btn-outline-success btn-block nav-link text-dark" %>
        </div>
        <div class="col-md-2 mt-3">
          <%= link_to 'トップへ戻る', root_path, class: "btn btn-outline-secondary nav-link text-dark" %>
        </div>
      </div>
    </form>
  <% end %>
</div>