<div class="container background-color p-5 mb-5">
  <div class="row">
    <% if @range == "EndUser" %>
     <h2 class="p-3 mx-auto">Users Search for　<strong><%= @nick_name %></strong>　さん</h2>
    <% elsif @range == "Review" %>
     <h2 class="p-3 mx-auto">Reviews Search for <strong><%= @review %></strong></h2>
    <% else %>
     <h2 class="p-3 mx-auto">Reviews Search for <strong><%= @book %></strong></h2>
    <% end %>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <% if @range == "EndUser" %>
        <table class="table table-hover">
          <thead class="table-active">
            <tr>
              <th></th>
              <th>Nick Name</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Occupation</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @end_users.each do |end_user| %>
              <tr>
                <td>
                  <%= link_to end_user_path(end_user), data: { 'turbolinks': false } do %>
                    <%= image_tag end_user.get_profile_image(80,80) %>
                  <% end %>
                </td>
                <td><u><%= link_to end_user.nick_name, end_user_path(end_user), data: { 'turbolinks': false }, class: "text-dark" %></u></td>
                <td><%= end_user.gender_i18n %></td>
                <td><%= end_user.calc_age %>歳</td>
                <td><%= end_user.occupation %></td>
                <td>
                  <%= render 'public/end_users/relationship', end_user: end_user %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% elsif @range == "Review" %>
        <table class="table table-hover">
          <thead class="table-active">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Author</th>
              <th>Sales Date</th>
              <th>Publiser</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <%= link_to (image_tag(review.book.small_image_url)), review.book.item_url %>
                </td>
                <td>「<%= review.book.title %>」（ジャンル:<%= review.genre.name %>）</td>
                <td><%= review.book.author %></td>
                <td><%= review.book.sales_date %>発売</td>
                <td><%= review.book.publisher_name %></td>
                <td>¥<%= review.book.item_price.to_s(:delimited, delimiter: ',') %></td>
                <td><%= link_to '詳細', review_path(review), class: "btn btn-outline-primary nav-link text-dark btn-block" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table class="table table-hover background-color-arange">
          <thead class="table-active">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Author</th>
              <th>Sales Date</th>
              <th>Publiser Name</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <%= link_to (image_tag(book.small_image_url)), book.item_url %>
                </td>
                <td>
                  <%= book.title %>
                </td>
                <td>
                  <%= book.author %>
                </td>
                <td>
                  <%= book.sales_date %>
                </td>
                <td>
                  <%= book.publisher_name %>
                </td>
                <td>
                  ¥<%= book.item_price.to_s(:delimited, delimiter: ',') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>