<div class="card mr-2 mt-2" style="width: 12rem; height: 28rem;">
  <p class="mx-auto mt-1"><%= link_to (image_tag(review.book.large_image_url)), review.book.item_url %></p>
  <div class="card-body pt-0">
    <p class="card-text text-truncate mb-0"><strong>「<%= review.book.title %>」</strong></p>
    <p class="card-text text-truncate offset-1">(<%= review.book.author %>. 著)</p>
    <p class="card-text text-truncate">
      <%= review.end_user.nick_name %>
      <span class=<%= "favorite-" + review.id.to_s %> ><%= render 'public/favorites/favorite', review: review %></span>
    </p>
    <p id="star-rate-<%= review.id %>"></p>
    <p class="card-text mb-0">
      <script>
        $('#star-rate-<%= review.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.rate %>,
          });
      </script>
    </p>
    <p><%= link_to 'レビューを見る', review_path(review), class: "btn btn-primary" %></p>
  </div>
</div>