<div class="container background-color toppage-bottom p-4">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto p-5">
      <h2>Please Post books!!</h2>
      <% if end_user_signed_in? %>
        <%= render 'layouts/rakuten_books_search' %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-2">
      <%= render 'layouts/genre_index', genres: @genres %>
    </div>

    <div class="col-12 col-md-10">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a id="genre_panel_0" href="#panel-0" class="nav-link active" data-toggle="tab"><span class="text-dark">総合</span></a>
        </li>
        <% @genres.each do |genre| %>
          <li class="nav-item ml-4">
            <a id="genre_panel_<%=genre.id%>" href="#panel-<%= genre.id %>" class="nav-link" data-toggle="tab">
              <span class="text-dark">
                <%= genre.name %>
              </span>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div id="panel-0" class="tab-pane active">
          <div class="d-flex flex-wrap mt-3 ml-4">
            <% @random_reviews.each do |random_review| %>
              <div class="card card-ranking mr-3 mt-2 mx-auto" style="width: 13rem;">
                <p class="mx-auto mt-1"><%= link_to (image_tag(random_review.book.large_image_url)), random_review.book.item_url %></p>
                <div class="card-body card-ranking-body pt-0">
                  <p class="card-text text-truncate mb-0"><strong>「<%= random_review.book.title %>」</strong></p>
                  <p class="card-text text-truncate offset-1">(<%= random_review.book.author %>. 著)</p>
                  <p class="card-text text-truncate"><%= random_review.end_user.nick_name %></p>
                  <p>いいね数　　　<i class="fas fa-heart"></i><%= random_review.favorites.count %>件</p>
                  <p>閲覧数: <%= random_review.impressions_count %></p>
                  <p id="star-rate-<%= random_review.id %>"></p>
                  <p class="card-text mb-0">
                    <script>
                    $('#star-rate-<%= random_review.id %>').empty();
                      $('#star-rate-<%= random_review.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= random_review.rate %>,
                        });
                    </script>
                  </p>
                  <p><%= link_to 'レビューを見る', review_path(random_review), class: "btn btn-outline-primary nav-link text-dark btn-block" %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>


        <% @genres.each do |genre| %>
          <div id="panel-<%= genre.id %>" class="tab-pane">
            <%= render 'public/reviews/genre_review', reviews: Genre.extruct_reviews_from_genre(genre) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <div>
    <h3 class="mb-5">書籍から学んだ知識をアウトプットし、お互いに教養を高め合える知識投稿サイト</h3>
    <p>
      サイト内では、勉強やお金、健康等の分野の知識を効率良く学べるように設計されています。<br />
      興味のある投稿から学べたり、他者の投稿に対してコメントや質問を残すことができます。また、書籍をその場で検索することもできます。<br />
      投稿者は書籍から学んだ有益な知識や印象的だった内容を投稿し、閲覧者は興味がある分野について他者が発信した投稿を閲覧、コメント、評価できるので、お互いに効率良く教養を高めていくことができます。
    </p>
    <%= link_to 'ログインする', new_end_user_session_path, class: "btn btn-outline-primary nav-link text-dark" %>
  </div>
  <% end %>
</div>

<script>
function onSortNew(){
  var panel_id = $('.tab-content').children('.active').attr('id');
  var id = panel_id.substring(6)
  $.ajax({
    type: 'get',
    url: 'reviews/sort_new?genre_id='+id,
    datatype: "script"
  });

}
function onSortRate(){
  var panel_id = $('.tab-content').children('.active').attr('id');
  var id = panel_id.substring(6)
  $.ajax({
    type: 'get',
    url: 'reviews/sort_rate?genre_id='+id,
    datatype: "script"
  });

}
</script>