<div class="container">
  <div class="row">

  </div>
  <% if end_user_signed_in? %>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <%= render 'layouts/end_user_info', end_user: @end_user %>
      </div>
      <div class="row">
        <%= render 'layouts/genre_index', genres: @genres %>
      </div>
    </div>

    <div class="col-md-9">
      <ul class="nav nav-tabs justify-content-center">
        <% @genres.each_with_index do |genre, index| %>
          <li class="nav-item ml-4">
            <a href="#panel-<%= genre.id %>" class="nav-link<%= index == 0 ? " active" : "" %>" data-toggle="tab"><%= genre.name %></a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% @genres.each_with_index do |genre, index| %>
          <div id="panel-<%= genre.id %>" class="tab-pane<%= index == 0 ? " active" : "" %>">
            panel-<%= genre.id %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <div>
    <h3 class="mb-5">書籍から学んだ知識をアウトプットし、お互いに教養を高め合える知識投稿サイト</h3>
    <p>
      サイト内では、勉強やお金、健康等の分野の知識を効率良く学べるように設計されています。<br />
      興味のある投稿から学べたり、他者の投稿に対してコメントや質問を残すことができます。また、書籍をその場で検索することもできます。<br />
      投稿者は書籍から学んだ有益な知識や印象的だった内容を投稿し、閲覧者は興味がある分野について他者が発信した投稿を閲覧、コメント、評価できるので、お互いに効率良く教養を高めていくことができます。
    </p>
    <%= link_to 'ログインする', new_end_user_session_path %>
  </div>
</div>