<div class="container">
  <div class="row">

  </div>
  <% if end_user_signed_in? %>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <%= render 'layouts/end_user_info', end_user: @end_user %>
      </div>
      <div class="row">
        <%= render 'layouts/genre_index', genres: @genres %>
      </div>
    </div>

    <div class="col-md-9">
      <ul class="nav nav-tabs justify-content-center">
        <% @genres.each_with_index do |genre, index| %>
          <li class="nav-item ml-4">
            <a href="#panel-<%= genre.id %>" class="nav-link<%= index == 0 ? " active" : "" %>" data-toggle="tab"><%= genre.name %></a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <% @genres.each_with_index do |genre, index| %>
          <div id="panel-<%= genre.id %>" class="tab-pane<%= index == 0 ? " active" : "" %>">
            panel-<%= genre.id %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>