<div class="container">
  <div class="row">
    <div class="mx-auto p-5">
      <%= form_with url: rakuten_books_path, method: :get, local:true do |f| %>
        <%= f.text_field :keyword, autofocus: true, style:"text-align: left;", placeholder: "Search for books here to share your cultures ...", class: "btn btn-outline-light text-dark", size: 90 %>
        <%= f.submit 'Search', class: "btn btn-outline-light text-dark" %>
      <% end %>
    </div>
  </div>
  <% if end_user_signed_in? %>
  <div class="row">
    <div class="col-2" style="width: 30rem;">
      <%= render 'layouts/genre_index', genres: @genres %>
    </div>

    <div class="col-md-10">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item ml-4">
          <a id="genre_panel_0" href="#panel-0" class="nav-link active" data-toggle="tab"><span class="text-dark">総合</span></a>
        </li>
        <% @genres.each_with_index do |genre, index| %><!--each_with_indexを使うことにより、eachで回す回数をindexへ代入している。-->
          <li class="nav-item ml-4">
            <a id="genre_panel_<%=genre.id%>" href="#panel-<%= genre.id %>" class="nav-link" data-toggle="tab"><span class="text-dark"><%= genre.name %></span></a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div id="panel-0" class="tab-pane active">
          <div class="d-flex flex-wrap mt-3 ml-4">
            <% @random_reviews.each do |random_review| %>
              <div class="card card-ranking mr-2 mt-2" style="width: 13rem;">
                <p class="mx-auto mt-1"><%= link_to (image_tag(random_review.book.large_image_url)), random_review.book.item_url %></p>
                <div class="card-body card-ranking-body pt-0">
                  <p class="card-text text-truncate mb-0"><strong>「<%= random_review.book.title %>」</strong></p>
                  <p class="card-text text-truncate offset-1">(<%= random_review.book.author %>. 著)</p>
                  <p class="card-text text-truncate"><%= random_review.end_user.nick_name %></p>
                  <p>いいね数　　　<i class="fas fa-thumbs-up"></i><%= random_review.favorites.count %>件</p>
                  <p id="star-rate-<%= random_review.id %>"></p>
                  <p class="card-text mb-0">
                    <script>
                      $('#star-rate-<%= random_review.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= random_review.rate %>,
                        });
                    </script>
                  </p>
                  <p><%= link_to 'レビューを見る', review_path(random_review), class: "btn btn-primary" %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% @genres.each_with_index do |genre, index| %>
          <div id="panel-<%= genre.id %>" class="tab-pane">
            <div class="d-flex flex-wrap mt-3 ml-4">
              <% genre.reviews.each do |review| %>
                <div class="card mr-2 mt-2" style="width: 13rem;">
                  <p class="mx-auto mt-1"><%= link_to (image_tag(review.book.large_image_url)), review.book.item_url %></p>
                  <div class="card-body pt-0">
                    <p class="card-text text-truncate mb-0"><strong>「<%= review.book.title %>」</strong></p>
                    <p class="card-text text-truncate offset-1">(<%= review.book.author %>. 著)</p>
                    <p class="card-text text-truncate"><%= review.end_user.nick_name %></p>
                    <p>いいね数　　　<i class="fas fa-thumbs-up"></i><%= review.favorites.count %>件</p>
                    <p id="star-genre-rate-<%= review.id %>"></p>
                    <p class="card-text mb-0">
                      <script>
                        $('#star-genre-rate-<%= review.id %>').raty({
                          size: 36,
                          starOff:  '<%= asset_path('star-off.png') %>',
                          starOn : '<%= asset_path('star-on.png') %>',
                          starHalf: '<%= asset_path('star-half.png') %>',
                          half: true,
                          readOnly: true,
                          score: <%= review.rate %>,
                          });
                      </script>
                    </p>
                    <p><%= link_to 'レビューを見る', review_path(review), class: "btn btn-primary" %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <div>
    <h3 class="mb-5">書籍から学んだ知識をアウトプットし、お互いに教養を高め合える知識投稿サイト</h3>
    <p>
      サイト内では、勉強やお金、健康等の分野の知識を効率良く学べるように設計されています。<br />
      興味のある投稿から学べたり、他者の投稿に対してコメントや質問を残すことができます。また、書籍をその場で検索することもできます。<br />
      投稿者は書籍から学んだ有益な知識や印象的だった内容を投稿し、閲覧者は興味がある分野について他者が発信した投稿を閲覧、コメント、評価できるので、お互いに効率良く教養を高めていくことができます。
    </p>
    <%= link_to 'ログインする', new_end_user_session_path, class:"btn btn-primary btn-lg" %>
  </div>
  <% end %>
</div>