<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-4"><h3><strong>タイトル</strong></h3></div>
    <div class="col-3"><h3><strong>著者</strong></h3></div>
    <div class="col-1"><h3><strong>価格</strong></h3></div>
    <div class="col-2"><h3><strong>出版社</strong></h3></div>
    <div class="col-1"></div>
  </div>

  <% @rakuten_books.each do |rakuten_book| %>
    <%= form_with model: @book, url: new_review_path, method: :get do |f| %>
      <div class="row">
          <div class="col-1">
            <%= link_to (image_tag(rakuten_book.medium_image_url)), rakuten_book.item_url %>
            <%= f.hidden_field :item_url, :value => rakuten_book.item_url %>
          </div>
          <div class="col-4">
            <%= rakuten_book.title %>
            <%= f.hidden_field :title, :value => rakuten_book.title %>
          </div>
          <div class="col-3">
            <%= rakuten_book.author %>
            <%= f.hidden_field :author, :value => rakuten_book.author %>
          </div>
          <div class="col-1">
            <%= rakuten_book.item_price.to_s(:delimited, delimiter: ',') %>
            <%= f.hidden_field :item_price, :value => rakuten_book.item_price %>円
          </div>
          <div class="col-2">
            <%= rakuten_book.publisher_name %>
            <%= f.hidden_field :publisher_name, :value => rakuten_book.publisher_name %>
          </div>
          <div>
            <%= f.hidden_field :item_caption, :value => rakuten_book.item_caption %>
            <%= f.hidden_field :sales_date, :value => rakuten_book.sales_date %>
            <%= f.hidden_field :isbn, :value => rakuten_book.isbn %>
            <%= f.hidden_field :small_image_url, :value => rakuten_book.small_image_url %>
            <%= f.hidden_field :medium_image_url, :value => rakuten_book.medium_image_url %>
            <%= f.hidden_field :large_image_url, :value => rakuten_book.large_image_url %>
          </div>
          <div class="col-1">
            <%= f.submit 'レビュー登録', class:'btn btn-primary' %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>