<div class="container background-color rakuten-books-search p-5">
  <div class="row">
    <h2 class="p-3 mx-auto">Search results for　" <strong><%= params[:keyword] %></strong> "</h2>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-12 table-responsive">
      <table class="table table-hover background-color-arange">
        <thead class="table-active">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Sales Date</th>
            <th>Publiser Name</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @rakuten_books.each do |rakuten_book| %>
            <%= form_with model: @book, url: new_review_path, method: :get do |f| %>
              <tr>
                <td>
                  <%= link_to (image_tag(rakuten_book.medium_image_url)), rakuten_book.item_url %>
                  <%= f.hidden_field :item_url, :value => rakuten_book.item_url %>
                </td>
                <td>
                  <%= rakuten_book.title %>
                  <%= f.hidden_field :title, :value => rakuten_book.title %>
                </td>
                <td>
                  <%= rakuten_book.author %>
                  <%= f.hidden_field :author, :value => rakuten_book.author %>
                </td>
                <td>
                  <%= rakuten_book.sales_date %>
                  <%= f.hidden_field :sales_date, :value => rakuten_book.sales_date %>
                </td>
                <td>
                  <%= rakuten_book.publisher_name %>
                  <%= f.hidden_field :publisher_name, :value => rakuten_book.publisher_name %>
                </td>
                <td>
                  ¥<%= rakuten_book.item_price.to_s(:delimited, delimiter: ',') %>
                  <%= f.hidden_field :item_price, :value => rakuten_book.item_price %>
                </td>
                <td><%= f.submit 'レビュー登録', class: "btn btn-outline-primary nav-link text-dark btn-block" %></td>
                <%= f.hidden_field :item_caption, :value => rakuten_book.item_caption %>
                <%= f.hidden_field :isbn, :value => rakuten_book.isbn %>
                <%= f.hidden_field :small_image_url, :value => rakuten_book.small_image_url %>
                <%= f.hidden_field :medium_image_url, :value => rakuten_book.medium_image_url %>
                <%= f.hidden_field :large_image_url, :value => rakuten_book.large_image_url %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto mt-3">
      <%= link_to 'トップへ戻る', root_path, class: "btn btn-outline-secondary text-dark" %>
    </div>
  </div>
</div>