<% @rakuten_books.each do |rakuten_book| %>
  <div class="container">
    <div class="row">
      <div><%= link_to (image_tag(rakuten_book.large_image_url)), rakuten_book.item_url %></div>
      <div><%= rakuten_book.title %></div>
      <div><%= rakuten_book.author %></div>
      <div><%= rakuten_book.isbn %></div>
      <div><%= rakuten_book.sales_date %></div>
      <div><%= rakuten_book.item_price %>円</div>
      <div><%= rakuten_book.item_caption %></div>
      <div><%= rakuten_book.publisher_name %></div>
      <div><%= link_to '読んだ感想をみんなに共有する', new_review_path, class:'btn btn-primary' %></div>
    </div>
  </div>
<% end %>