<div class="container background-color p-5 mb-5">
  <div class="row">
    <h2 class="mx-auto">書籍詳細</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <div class="row">
              <div class="offset-md-3 col-md-3 offset-3">
                <%= link_to (image_tag(@review.book.large_image_url)), @review.book.item_url %>
              </div>
              <div class="col-md-6 p-3">
                <div class="mb-5">
                  「<%= @review.book.title %>」
                </div>
                <div class="mb-3">
                  <%= @review.book.author %>
                </div>
                <div class="mb-3">
                  <%= @review.book.sales_date %>発売
                </div>
                <div>
                  ¥<%= @review.book.item_price.to_s(:delimited, delimiter: ',') %>-
                </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @review.book.item_caption %>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2 class="mx-auto">書籍編集</h2>
  </div>
  <h5 class="error_explanation">
    <%= render 'layouts/errors', obj: @review %>
  </h5>
  <%= form_with model: @review, url: review_path(@review), method: :patch, local: true do |f| %>
    <div class="row">
      <div class="mx-auto">
        <table>
          <tbody>
            <tr class="text-center">
              <td>
                <h5 class="pt-3"><strong>評価：<%= @review.rate %>点</strong></h5>
                <span id="star-rate-<%= @review.id %>"></span>
                <script>
                $('#star-rate-<%= @review.id %>').empty();
                  $('#star-rate-<%= @review.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    scoreName: 'review[rate]',
                    half: true,
                    score: <%= @review.rate %>,
                    });
                </script>
              </td>
            </tr>
            <tr class="text-center">
              <td>
                <h5 class="pt-4"><strong>ジャンル</strong></h5><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "本のジャンルを選択してください" %>
              </td>
            </tr>
            <tr>
              <td>
                <h5 class="text-center pt-4"><strong>レビュー内容編集</strong></h5>
                <%= f.text_area :review, class: "form-control mt-4", placeholder: "レビューをここに（400文字以内）", size: "60x5" %>
                <%= f.submit '内容を保存', class: "btn btn-outline-primary text-dark mt-2" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="mx-auto">
      <%= link_to '戻る', review_path(@review) ,class: "btn btn-outline-secondary text-dark mx-auto mt-3" %>
    </div>
  </div>
</div>