<div class="container background-color p-5 mb-5">
  <div class="row">
    <div class="mx-auto">
    <%= form_with url: reviews_path, method: :post, local: true do |f| %>
      <h2>書籍情報</h2>
      <div>
        <table>
          <tbody>
            <tr>
              <td><%= link_to (image_tag(@book.large_image_url)), @book.item_url %></td>
              <td>タイトル<%= @book.title %></td>
              <td>著者<%= @book.author %></td>
              <td>発売日<%= @book.sales_date %></td>
              <%= fields_for :book, @book do |fi| %><!--fields_forはform_withの中で使えるメソッド。Bookモデルに入れる情報とReviewモデルに入れる情報を分けて送ることを可能にしてくれるメソッド-->
                <%= fi.hidden_field :item_url, :value => @book.item_url %>
                <%= fi.hidden_field :title, :value => @book.title %>
                <%= fi.hidden_field :author, :value => @book.author %>
                <%= fi.hidden_field :isbn, :value => @book.isbn %>
                <%= fi.hidden_field :sales_date, :value => @book.sales_date %>
                <%= fi.hidden_field :item_price, :value => @book.item_price %>
                <%= fi.hidden_field :item_caption, :value => @book.item_caption %>
                <%= fi.hidden_field :publisher_name, :value => @book.publisher_name %>
                <%= fi.hidden_field :small_image_url, :value => @book.small_image_url %>
                <%= fi.hidden_field :medium_image_url, :value => @book.medium_image_url %>
                <%= fi.hidden_field :large_image_url, :value => @book.large_image_url %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <%= fields_for :review, @review do |fi| %>
        <h3>レビュー登録</h3>
        <div class="form-group row">
          <%= fi.label :ジャンル, class:"col-sm-3 col-form-label" %><br />
          <div class="col-md-3">
           <%= fi.collection_select :genre_id, Genre.all, :id, :name, include_blank: "本のジャンルを選択してください" %>
          </div>
        </div>
        <div class="form-group row">
          <div id="review_star">
            <%= f.label :rate,  "星評価 (※必須)" ,id: "e" %>
            <script>
                $('#review_star').raty({
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    scoreName: 'review[rate]',
                    half: true,
                });
            </script>
          </div>
        </div>
        <div class="form-group row">
          <%= fi.label :レビューや感想、勉強になったこと %><br />
          <div class="col-md-3">
            <%= fi.text_area :review, style:"text-align: left;", placeholder: "コメントをここに", class: "btn btn-outline-light text-dark", size: "80x5" %>
          </div>
        </div>
        <% end %>
        <div>
          <%= f.submit '投稿する', class: "btn btn-outline-light text-dark" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>