<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/end_user_info', end_user: @review.end_user %>
    </div>
    <div class="col-10">
      <div class="row">
        <h2 class="mx-auto">書籍詳細</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <div class="d-flex">
                  <div class="offset-3 mr-5">
                    <%= link_to (image_tag(@review.book.large_image_url)), @review.book.item_url %>
                  </div>
                  <div class="p-3">
                    <div class="mb-5">
                      「<%= @review.book.title %>」
                    </div>
                    <div class="mb-3">
                      <%= @review.book.author %>
                    </div>
                    <div class="mb-3">
                      <%= @review.book.sales_date %>発売
                    </div>
                    <div>
                      ¥<%= @review.book.item_price.to_s(:delimited, delimiter: ',') %>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= @review.book.item_caption %>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="row">
        <h2>レビュー詳細</h2>
        <div class=<%= "favorite-" + @review.id.to_s %> >
          <%= render 'public/favorites/favorite', review: @review %>
        </div>
        <p><%= link_to '編集画面へ進む', edit_review_path(@review), class: "btn btn-primary" %></p>
        <p><%= link_to '削除する', review_path(@review), method: :delete, class: "btn btn-danger" %></p>
      </div>
      <div class="form-group row">
        <div class="col-5">ジャンル</div>
        <div class="col-5"><%= @review.genre.name %></div>
      </div>
      <div class="form-group row">
        <div class="col-2">評価</div>
        <div class="col-5"><%= @review.rate %>点</div>
        <div class="col-5" id="star-rate-<%= @review.id %>"></div>
          <script>
            $('#star-rate-<%= @review.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,//読み取り専用（入力できない）
              score: <%= @review.rate %>,//星の入力値を読み込む
              });
          </script>
      </div>
      <div class="form-group row">
        <div class="col-5">レビュー内容</div>
        <div class="col-5"><%= @review.review %></div>
      </div>
      <div class="row">
        <h2>レビューに対するコメント</h2>
        <div class="comments-counter">
          <%= render 'public/comments/counter', review: @review %>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <div class="comments-index">
                  <%= render 'public/comments/comment', review: @review %>
                </div>
              </th>
            </tr>
          </thead>
        </table>
        <div>
          <%= render "public/comments/form", review: @review, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
</div>