<div class="container background-color p-5 mb-5">
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/end_user_info', end_user: @review.end_user %>
    </div>
    <div class="col-10">
      <div class="row">
        <h2 class="mx-auto">書籍詳細</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <div class="d-flex">
                  <div class="offset-3 mr-5">
                    <%= link_to (image_tag(@review.book.large_image_url)), @review.book.item_url %>
                  </div>
                  <div class="p-3">
                    <div class="mb-5">
                      「<%= @review.book.title %>」（ジャンル:<%= @review.genre.name %>）
                    </div>
                    <div class="mb-3">
                      <%= @review.book.author %>
                    </div>
                    <div class="mb-3">
                      <%= @review.book.sales_date %>発売
                    </div>
                    <div>
                      ¥<%= @review.book.item_price.to_s(:delimited, delimiter: ',') %>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= @review.book.item_caption %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <h2 class="mx-auto">
          <%= @review.end_user.nick_name %>さんのレビュー
          <span class="review_font">
            （閲覧数: <%= @review.impressions_count %>）
          </span>
          <span class=<%= "favorite-" + @review.id.to_s %> >
            <%= render 'public/favorites/favorite', review: @review %>
          </span>
          <% if @review.end_user == current_end_user %>
            <%= link_to '編集画面へ進む', edit_review_path(@review), class: "btn btn-outline-primary text-dark" %>
            <%= link_to '削除する', review_path(@review), method: :delete, class: "btn btn-outline-danger text-dark" %>
          <% end %>
        </h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <td></td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="row">
        <div class="mb-5">
          <div>
            <h5>【評価】<%= @review.rate %>点</h5>
            <p id="star-rate-<%= @review.id %>"></p>
              <script>
              $('#star-rate-<%= @review.id %>').empty();
                $('#star-rate-<%= @review.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,//読み取り専用（入力できない）
                  score: <%= @review.rate %>,//星の入力値を読み込む
                  });
              </script>
          </div>
          <div class="mb-3">
            <h5>【レビュー】</h5>
            <div class="review_show"><%= @review.review %></div>
          </div>
        </div>
      </div>

      <div class="row">
        <h2 class="offset-4">レビューに対するコメント</h2>
        <div class="comments-counter offset-1 mt-3">
          <%= render 'public/comments/counter', review: @review %>
        </div>
        <div class="comments-index">
          <%= render 'public/comments/comment', review: @review %>
        </div>
        <div>
          <%= render "public/comments/form", review: @review, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
</div>