<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/end_user_info', end_user: @review.end_user %>
    </div>
    <div class="col-9">
      <h2>レビュー詳細</h2>
      <div class="row offset-4">
        <%= link_to (image_tag(@review.book.large_image_url)), @review.book.item_url %>
      </div>
      <div class="row offset-4">
        <%= @review.book.title %>
      </div>
      <div class="row offset-4">
        <%= @review.book.author %>
      </div>
      <div class="row offset-4">
        <%= @review.book.sales_date %>
      </div>
      <div class="row offset-4">
       ジャンル   <%= @review.genre.name %>
      </div>
      <div class="row offset-4">
      <h4>評価：<%= @review.rate %>点 </h4>
      <div id="star-rate-<%= @review.id %>"></div>
        <script>
          $('#star-rate-<%= @review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            score: <%= @review.rate %>,
            });
        </script>
      </div>
      <div class="row offset-4">
        レビュー内容  <%= @review.review %>
        <%= link_to '編集画面へ進む', edit_review_path(@review), class: "btn btn-primary" %>
        <%= link_to '削除する', review_path(@review), method: :delete, class: "btn btn-danger" %>
      </div>
      <div class=<%= "favorite-" + @review.id.to_s %> >
        <%= render 'public/favorites/favorite', review: @review %>
      </div>
      <div class="comments-counter">
        <%= render 'public/comments/counter', review: @review %>
      </div>
      <div class="comments-index">
        <%= render 'public/comments/comment', review: @review %>
      </div>
      <div>
        <%= render "public/comments/form", review: @review, comment: @comment %>
      </div>
    </div>
  </div>
</div>