<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/end_user_info', end_user: @end_user %>
    </div>
    <div class="col-9">
      <h2>レビュー詳細</h2>
      <div>
        <table>
          <thead>
            <tr>
              <td>タイトル</td>
              <td>著者</td>
              <td>発売日</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div class="form-group row">
          <div>ジャンル</div><br />
          <div class="col-md-3">
           <%= @review.genre.id %>
          </div>
        </div>
        <div class="form-group row">
          <div>レビュー内容</div><br />
          <div class="col-md-3">
            <%= link_to (image_tag(@review.book.large_image_url)), @review.book.item_url %>
            <%= @review.book.title %>
            <%= @review.review %>
            <%= link_to '編集画面へ進む', edit_review_path(@review) %>
            <%= link_to '削除する', review_path(@review), method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>