<div class="container">
  <div class="row">
    <h2>User's info</h2>
  </div>

  <div class="row mt-5">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th><%= image_tag end_user.get_profile_image(100,100) %></th>
          <th></th>
        </tr>
        <tr>
          <th><%= end_user.nick_name %></th>
          <th></th>
        </tr>
        <tr>
          <th><%= end_user.gender_i18n %></th>
          <th></th>
        </tr>
        <tr>
          <th><%= end_user.calc_age %>歳</th>
          <th></th>
        </tr>
        <tr>
          <th><%= end_user.occupation %></th>
          <th></th>
        </tr>
        <tr>
          <th>フォロー</th>
          <th><%= link_to end_user.followings.count, end_user_followings_path(end_user) %></th>
        </tr>
        <tr>
          <th>フォロワー</th>
          <th><%= link_to end_user.followers.count, end_user_followers_path(end_user) %></th>
        </tr>
      </tbody>
    </table>
    <%= render 'public/end_users/relationship', end_user: end_user %>
  </div>
</div>