<!DOCTYPE html>
<html>
  <head>
    <title>CultureSquare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" media="all" href="/assets/vegas.min.css" type="text/css" />

    <!--<script src="http://code.jquery.com/jquery.min.js"></script>-->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="vegas-body">

    <header>
      <%= render 'layouts/header' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
