<!DOCTYPE html>
<html>
  <head>

    <title>CultureSquare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!--<script src="http://code.jquery.com/jquery.min.js"></script>-->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  </head>


  <body id="vegas-body">
    <div id="sp-menu">
      <h2>MENU</h2>
      <ul>
        <li><%= link_to 'Top', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <% if end_user_signed_in? %>
          <li><%= link_to 'My Page', end_user_path(current_end_user), data: { 'turbolinks': false } %></li>
          <li><%= link_to 'Users', end_users_path %></li>
          <li><%= link_to 'Log out', destroy_end_user_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to 'Users', admin_end_users_path %>
          </li>
          <li>
            <%= link_to 'Genres', admin_genres_path %>
          </li>
          <li>
            <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "Sign up", new_end_user_registration_path %></li>
          <li><%= link_to 'Log in', new_end_user_session_path %></li>
        <% end %>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <header>
      <%= render 'layouts/header' %>
    </header>

    <main>
      <!--バリデーションチェック用-->
      <div class="flash-message">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: key) %>
        <% end %>
      </div>
      <%= yield %>
    </main>


    <span id="back">
      <%= link_to (image_tag('arrow.jpg')), '#' %>
    </span>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
      integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>
  </body>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>

</html>
